@model SO.SilList.Manager.Models.ValueObjects.PropertyListingTypeVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend></legend>

    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.propertyListingTypeId)
        </div>
        <div class="controls">
              <input type="text" value="@Html.DisplayFor(model => model.propertyListingTypeId)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.name)
        </div>
        <div class="controls">
              <input type="text" value="@Html.DisplayFor(model => model.name)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.description)
        </div>
        <div class="controls">
              <input type="text" value="@Html.DisplayFor(model => model.description)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> @Html.DisplayNameFor(model => model.isActive)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isActive)
        </div>
    </div>
    <br />

</fieldset>
<p>
    <a href="@Url.Action("Index", new { id=Model.propertyListingTypeId })" class="btn">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
