@model SO.SilList.Manager.Models.ValueObjects.RentTypeVo

<a href="@Url.Action("Index","Rentals")" class="btn btnLeftMenu" style="width:120px;">
      Rentals
 </a>

<a href="@Url.Action("Index","RentalType")" class="btn btnLeftMenu" style="width:120px;">
      Rent Types
 </a>

<a href="@Url.Action("Index","Property Types")" class="btn btnLeftMenu" style="width:120px;">
      Property Types
 </a>

<a href="@Url.Action("Index","Lease Term Types")" class="btn btnLeftMenu" style="width:120px;">
      Lease Term Types
 </a>

<a href="@Url.Action("Index","Images")" class="btn btnLeftMenu" style="width:120px;">
      Images
 </a>

<a href="@Url.Action("Index","Sites")" class="btn btnLeftMenu" style="width:120px;">
      Sites
 </a>
