@model SO.SilList.Manager.Models.ViewModels.ListingTypeVm
@{
    ViewBag.Title = "Listing Type";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form name="filterForm" class="form-inline" method="get" action="@Url.Action("Index","ListingType")">

@Html.Action("Filter", @Model)
<p style="margin-top:10px; margin-bottom:10px;"> </p>
<div class="pull-right">
     @Model.paging.rowCount of @Model.result.Count
     @*Showing @Model.firstVisibleRow - @Model.lastVisibleRow of @Model.totalRowCount *@
</div>

@Html.Partial("List", @Model.result)
@Html.Action("Pagination",  @Model.paging)

</form>


@*
<form name="filterForm" class="form-inline" method="get" action="@Url.Action("Index","ListingType")">

@Html.Action("Filter", @Model)

<p style="margin-top:10px; margin-bottom:10px;"> </p>

<div class="pull-right">
    Showing @Model.firstVisibleRow - @Model.lastVisibleRow of @Model.totalRowCount
</div>

@Html.Partial("List", @Model.result)

@Html.Action("Pagination", @Model)

 </form>
*@