@model SO.SilList.Manager.Models.ViewModels.VisitVm
@{
    ViewBag.Title = "Site Statistics";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form class="form-inline" method="get" action="@Url.Action("Index","Visit")">

 
@Html.Action("Filter", @Model)

<p style="margin-top:10px; margin-bottom:10px;">
</p>

<div class="pull-right">
   Showing @Model.firstVisibleRow - @Model.lastVisibleRow of @Model.totalRows

</div>
@Html.Partial("_List", @Model.result)


@Html.Action("Pagination", @Model)


 </form>