@model SO.SilList.Manager.Models.ViewModels.VisitVm
@{
    ViewBag.Title = "Site Statistics";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form id="filterForm" name="filterForm" class="form-inline" method="post" action="@Url.Action("Index","Visit")">

 
@Html.Action("Filter", @Model)

<p style="margin-top:10px; margin-bottom:10px;">
</p>

<div class="pull-right">
</div>

@Html.Partial("_List", @Model.result)


@Html.Action("Pagination", @Model.paging)

@Html.ActionLink("Clear Stats", "Delete")

 </form>