@model SO.SilList.Manager.Models.ValueObjects.CityTypeVo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "CityType", FormMethod.Post, new { @encType = "multipart/form-data", id = "myForm" }))
{
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend></legend>

        @Html.HiddenFor(model => model.cityTypeId)

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
                        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.stateTypeId)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.stateTypeId)
                @Html.ValidationMessageFor(model => model.stateTypeId)
            </div>
        </div>

                        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.countryTypeId)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.countryTypeId)
                @Html.ValidationMessageFor(model => model.countryTypeId)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
            @Html.LabelFor(model => model.isActive)
        </div>
            <div class="controls">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
        </div>

        <p>
            <input type="submit" value="Save" />
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>
    </fieldset>
}
