<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SilList Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PropertyHoop">
    <meta name="author" content="PropertyHoop">

    <!-- Le styles -->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 52px;
        padding-bottom: 40px;
      }
    </style>
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->

    <link href="~/Content/Site.css" rel="stylesheet" />

       @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
   
      <script type="text/javascript">



          $(document).ready(function () {

              var height = $("#mainContent").height();
              $('#leftColumn').height(height);
              // alert(height);
          });


</script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top" >
      <div class="navbar-inner"  >
        <div class="container" >
        
          
          <a class="brand" href="~/" >
             SilList Admin

          </a>

          
     <ul class="nav nav-pills pull-left nav-list-menu">

             <li class="dropdown">
                   <a href="@Url.Action("Index","Home")" class="dropdown-toggle" >Home</a>
                        
             </li>

            <li class="dropdown">
                        <a href="@Url.Action("Index","Account")"  class="dropdown-toggle" >Account<b class="caret white-caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                          <li><a href="#">Logout</a></li>
                        
                        </ul>
             </li>

       

    </ul>

            
         

        </div>
      </div>
    </div>

    <div class="container" style="background-color:white;">

        
      <!-- Example row of columns -->
      <div class="row">


        <div class="span12">
         

             @RenderBody()

       </div>
       
      </div>

     
     

    </div> <!-- /container -->

       
       <div class="container" >

    <footer class="footer">
          <hr>

        <a href="/">Home</a> | 

        <a href="/">About Us</a> | 

        <a href="/">Contact Us</a> 



        <p style="text-align:center;">&copy; SilList 2013</p>
    </footer>

      </div>

    <!-- Le javascript
    ================================================== -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Placeholders.min.js")
   
    @Scripts.Render("~/Scripts/Site.js")
   
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")

      @Scripts.Render("~/Scripts/holder.js")
  

  </body>
</html>
