@model object

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr /><div class="span12" style="color: red">
            <br />
            <b>
                @Html.ValidationSummary()
            </b>
        </div>


        @Html.EditorForModel(Model)
       
        <div class="row">
            <div class="span9">
                <br />
                <a href="@Url.Action("Index")" class="btn">Back to List</a>
                <input type="submit" value="Update" class="btn pull-right btn-info" />
            </div>
        </div>

    </div>
}
