@model SO.SilList.Manager.Models.ValueObjects.BusinessVo
@{
    ViewBag.Title = "_BusinessItem";
}

<div class="span12 businessInfo">
    <a class="pull-left" href="#">
        <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding: 5px;">
        <a href="@Url.Action("Details")">
            <h5 class="media-heading">@Model.name</h5>
        </a>

        <div class="businessAddressLine">
            Categories: 
            @if(Model.businessCategories != null)
            {
                foreach (var categoryVo in Model.businessCategories)
                {
                    <a href="/">categoryVo.businessCategoryType.name</a> 
                }
            }
        </div>

        <div class="businessAddressLine">
            Location: <a href="/">@Html.DisplayFor(model => model.cityType.name)
                @if (Model.cityType != null)
                { <b>,</b>}
                @Html.DisplayFor(model => model.stateType.stateCode)</a>
        </div>

        <div style="margin-left: 70%; margin-top: -40px;">
            Address
            <div class="businessAddressLine">@Model.address</div>
            <div class="businessAddressLine">@Html.DisplayFor(model => model.cityType.name)
                @if (Model.cityType != null)
                { <b>,</b>}
                @Html.DisplayFor(model => model.stateType.stateCode) @Model.zip
            </div>
            <div style="margin-top: 10px" class="businessAddressLine">@Model.phone</div>
            @{
                String myUrl = Model.url;
                UriBuilder builder = null;
                try
                {
                    builder = new UriBuilder(myUrl);
                    myUrl = builder.Uri.AbsoluteUri;
                }
                catch
                {
                    myUrl = "/";
                }

            }
            <div style="margin-top: 10px" class="businessAddressLine"><a href="@myUrl">@Model.url</a></div>


        </div>

    </div>

    <div style="margin-top: 10px; margin-bottom: 5px;">@Model.name </div>

</div>
