@model SO.SilList.Manager.Models.ViewModels.BusinessVm
 

<form id="filterForm" class="form-inline" method="get" action="@Url.Action("Index","Business")">

<label>Keyword:</label>
@Html.ValidationSummary(true)
@Html.TextBoxFor(model => model.keyword,new { Class = "input-large", placeholder =  "Keyword" })
@Html.ValidationMessageFor(model => model.keyword)

<label>Location:</label>
@Html.ValidationSummary(true)
@Html.TextBoxFor(model => model.location,new { Class = "input-large", placeholder =  "Location" })
@Html.ValidationMessageFor(model => model.location)

<br /><br />

 @Html.HiddenFor(model=> model.paging.pageNumber)

<button name="submitButton" value="Search" type="submit" class="btn btn-success pull-right">Search</button>

 
 </form>

@*
<fieldset>
    <legend>BusinessVm</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.result)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.result)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@