@model SO.SilList.Manager.Models.ValueObjects.BusinessVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BusinessVo</legend>

    <div class="span12 businessInfo" >
      <a class="pull-left" href="#" >
      <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding:5px;">
         <a href="@Url.Action("Details")">
         <h5 class="media-heading" ">@Html.DisplayFor(model => model.name)</h5>
         </a>

          <div class="businessAddressLine">Category: <a href="/">??Plumbing???</a></div> 
          <div class="businessAddressLine">Location: <a href="/">@Html.DisplayFor(model => model.city), @Html.DisplayFor(model => model.state)</a> </div>  
        
        <div style="margin-left:70%; margin-top:-40px; ">
          <div class="businessAddressLine">@Html.DisplayFor(model => model.address)</div>
          <div class="businessAddressLine">@Html.DisplayFor(model => model.city), @Html.DisplayFor(model => model.state) @Html.DisplayFor(model => model.zip)</div> 
          <div class="businessAddressLine">???818-222-3344???</div>  
          <div class="businessAddressLine"><a href="/">Website: @Html.DisplayFor(model => model.url)</a></div>  
        </div>
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.siteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.siteId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.state)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isApproved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isApproved)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>*@
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.businessId })*@ |
    @Html.ActionLink("Back to List", "Index")
</p>
