@model SO.SilList.Manager.Models.ViewModels.BusinessVm 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}

<h2>Armenian Business Directory</h2>

<ul class="media-list" >


 @for(int i=0; i<10; i++){
  <li class="row, media" style="border-bottom:1px solid #ccc;" >
   
     @Html.Partial("_BusinessItem",Model.business);

  </li>
     
 }
</ul>

<form id="filterForm" class="form-inline" method="get" action="@Url.Action("Filter","Business")">
    
    @Html.Action("Filter",@Model)
    <div class="pull-right">
        @((Model.paging.pageNumber-1) * Model.paging.rowCount + Model.result.Count) of @Model.paging.totalCount
    </div>
    
   
</form>