@model SO.SilList.Manager.Models.ValueObjects.SiteVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>
    @if (ViewBag.backUrl != null && ViewBag.backName != null)
    {
        <a href="@ViewBag.backUrl" class="btn btn-inverse">Back to @ViewBag.backName</a>
    }
</p>


<fieldset>
    <legend>SiteVo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.domain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.domain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.logo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.logoUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logoUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>
</fieldset>
<p>
    <a href="@Url.Action("Edit", new { id=Model.siteId })" class="btn">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
