@model SO.SilList.Manager.Models.ValueObjects.CarVo
@{
    ViewBag.Title = "_CarItem";
}

<div class="span12 businessInfo">
    <a class="pull-left" href="@Url.Action("Detail", new { id = Model.carId })">
        <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding: 5px;">
        <div class="pull-right" style="font-size: medium; color: #13033e">$@Model.price</div>
        <a href="@Url.Action("Detail", new { id = Model.carId })">
            <h5 class="media-heading">@Html.DisplayFor(modelItem => Model.year) @Html.DisplayFor(modelItem => Model.modelType.makeType.name) @Html.DisplayFor(modelItem => Model.modelType.name)</h5>
        </a>
        <div>
            <div class="businessAddressLine">Millage: @Model.millage</div>
            <div style="margin-top: -15px; margin-left: 20%" class="businessAddressLine">Transmission: @Html.DisplayFor(model => model.transmissionType.name)</div>

        </div>
        <div class="businessAddressLine">
            Location: <a href="/">@Html.DisplayFor(model => model.cityType.name)
                @if (Model.cityType != null)
                { <b>,</b>}
                @Html.DisplayFor(model => model.stateType.stateCode)</a>
        </div>

        <div style="margin-left: 70%; margin-top: -20px;">
            Address
            <div class="businessAddressLine">@Model.address</div>
            <div class="businessAddressLine">@Html.DisplayFor(model => model.cityType.name)
                @if (Model.cityType != null)
                { <b>,</b>}
                @Html.DisplayFor(model => model.stateType.stateCode) @Model.zip
            </div>
            

        </div>
    </div>

    <div style="margin-top: 10px; min-height: 10px; margin-bottom: 5px;">@Model.description</div>

</div>
