



        <ul class="nav nav-list" style="background-color: none; color: white; text-align: center">
            @if (ViewBag.selectedId == null)
            {
                <li style="background-color: blue"><a href="#" id="any" onclick="selectAction(null,'@ViewBag.propertyName')">Any </a></li>
            }
            else
            {
                <li><a href="#" id="any" onclick="selectAction(null,'@ViewBag.propertyName')">Any </a></li>
            }

            @{
                int count = ViewBag.list.Count;
                int id = 0;
                int max = 10;
                if (count < 10)
                {
                    max = count;
                }
                for (int i = 0; i < max; i++)
                {
                    var item = ViewBag.list[i];

                    id = item.GetType().GetProperty(ViewBag.propertyId).GetValue(item);
                    if (id == ViewBag.selectedId)
                    {
                <li style="background-color: blue;">
                    <a href="#"  id="@item.name" onclick="selectAction(@id,'@ViewBag.propertyName')">@item.name </a></li>
                    }
                    else
                    {
                <li><a href="#"  id="@item.name" onclick="selectAction(@id,'@ViewBag.propertyName')">@item.name </a></li>
                    }
                }
            }
        </ul>

        @if (count > 10)
        {
            <a href="#seeMore" role="link" data-toggle="modal">See More</a>
        }

        <!-- Modal -->
        <div id="seeMore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Modal header</h3>
            </div>

            <div class="modal-body">
                <ul>
                    @foreach (var item in ViewBag.list)
                    {

                        id = item.GetType().GetProperty(ViewBag.propertyId).GetValue(item);
                        if (id == ViewBag.selectedId)
                        {
                        <li style="background-color: blue;">
                            <a href="#"  id="@item.name" onclick="selectAction(@id,'@ViewBag.propertyName')">@item.name </a></li>
                        }
                        else
                        {
                        <li><a href="#"  id="@item.name" onclick="selectAction(@id,'@ViewBag.propertyName')">@item.name </a></li>
                        }
                    }
                </ul>
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>


        <script>
            function selectAction(value,idName) {
                $("#"+idName).val(value);
                    $("#filterForm").submit();
                }
        </script>
    

