@model SO.SilList.Manager.Models.ViewModels.CarVm
@using SO.SilList.Manager.Models.ValueObjects

<style>
    #detailSearch input {
        width: 144px;
        margin: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    #detailSearch select {
        width: 158px;
        margin: 1px;
        margin-top: 5px;
        border-radius: 5px;
    }

    .title {
        margin: -5px;
    }
</style>
<form id="filterForm">

    @Html.HiddenFor(model => model.paging.pageNumber)

    <label>Keyword:</label>
    @Html.TextBoxFor(model => model.keyword, new { style="width:90%"})
    
    <label>City, State or Zip:</label>
    <input type="text" style="width: 90%;">

    <div style="height: 40px;">
        <button type="submit" class="btn btn-success pull-right">Search</button>
    </div>

    <div id="detailSearch">
        @Html.HiddenFor(model => model.makeTypeId)
        @Html.HiddenFor(model => model.modelTypeId)
        @Html.HiddenFor(model => model.bodyTypeId)
        @Html.HiddenFor(model => model.exColorTypeId)
        @Html.HiddenFor(model => model.inColorTypeId)
        @Html.HiddenFor(model => model.transmissionTypeId)
        @Html.HiddenFor(model => model.fuelTypeId)
        @Html.HiddenFor(model => model.listingDate)
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseMake">Make</span>
            </div>
            <div id="collapseMake" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.makeTypeId, propertyName = "makeTypeId", modelType = typeof(MakeTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseModel">Model</span>
            </div>
            <div id="collapseModel" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseListModel", "car", new { id = Model.modelTypeId, makeId = Model.makeTypeId, propertyName = "modelTypeId" })
                </div>
            </div>
        </div>


        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseYear">Year</span>
            </div>
            <div id="collapseYear" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    <ul class="nav nav-list" style="background-color: none; color: white; text-align: center;">
                        <li><a href="#" onclick="selectAction(null,'year'); selectAction(null,'yearTo')">Any </a></li>
                        @{
       
                            int item;
                            for (int i = 0; i < 20; i += 2)
                            {
                                item = (DateTime.Now.Year - i);
                            <li><a href="#"  onclick="selectAction(@item,'yearTo'); selectAction(@(item - 2),'year')">@(item - 2) To @item </a></li>

                            }
                        }
                    </ul>
                    <label>Year Range:</label>
                    @{
                        int currentYear = DateTime.Now.Year;
                        var mylist = new string[31];
                        for (int i = 0; i < 31; i++)
                        {
                            mylist.SetValue((currentYear - 30 + i).ToString(), 30 - i);
                        }
                        var selectlist = new SelectList(mylist);
                    }
                    @Html.DropDownListFor(model => model.year, selectlist, "Any", new { style = "width: 67px;margin-right: -1px;", onchange = "$('#filterForm').submit();" })
                    To
                @Html.DropDownListFor(model => model.yearTo, selectlist, "Any", new { style = "width: 67px;margin-left: -1px;", onchange = "$('#filterForm').submit();" })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseBody">Body Type</span>
            </div>
            <div id="collapseBody" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.bodyTypeId, propertyName = "bodyTypeId", modelType = typeof(CarBodyTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseExColor">Exterior Color</span>
            </div>
            <div id="collapseExColor" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.exColorTypeId, propertyName = "exColorTypeId", modelType = typeof(CarColorTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseInColor">Interior Color</span>

            </div>
            <div id="collapseInColor" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.inColorTypeId, propertyName = "inColorTypeId", modelType = typeof(CarColorTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapsePrice">Price</span>
            </div>
            <div id="collapsePrice" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">

                    <ul class="nav nav-list" style="background-color: none; color: white; text-align: center;">
                        <li><a href="#" onclick="selectAction(null,'endingPrice'); selectAction(null,'startingPrice')">Any </a></li>
                        @{
       
                            
                            for (int i = 1; i < 10; i += 1)
                            {
                                item = i * 1000;
                            <li><a href="#"  onclick="selectAction(@item,'startingPrice'); selectAction(@(item * 2),'endingPrice')">@item To @(item * 2) </a></li>

                            }
                        }
                    </ul>
                    <label>Price Range:</label>
                    <input type="text" value="@Model.startingPrice" style="width:54px; margin:1px" placeholder="Starting" id="startingPrice" name="startingPrice"/>
                    to
                     <input type="text" value="@Model.endingPrice" style="width:54px; margin:1px" placeholder="Ending" id="endingPrice" name="endingPrice"/>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseMill">Millage</span>
            </div>
            <div id="collapseMill" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">

                    <ul class="nav nav-list" style="background-color: none; color: white; text-align: center;">
                        <li><a href="#" onclick="selectAction(null,'startingMillage'); selectAction(null,'endingMillage')">Any </a></li>
                        @{
       
                            
                            for (int i = 2; i < 11; i++)
                            {
                                item = i * 10000;
                            <li><a href="#"  onclick="selectAction(0,'startingMillage'); selectAction(@item,'endingMillage')">@item or Less </a></li>

                            }
                        }
                        <li><a href="#" onclick="selectAction(100000,'startingMillage'); selectAction(null,'endingMillage')">100000 or More </a></li>

                    </ul>
                    <label>Millage Range:</label>
                    <input type="text" value="@Model.startingMillage" style="width:54px; margin:1px" placeholder="Starting" id="startingMillage" name="startingMillage"/>
                    to
                     <input type="text" value="@Model.endingMillage" style="width:54px; margin:1px" placeholder="Ending" id="endingMillage" name="endingMillage"/>

                </div>
            </div>
        </div>


        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseTransmission">Transmission</span>
            </div>
            <div id="collapseTransmission" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.transmissionTypeId, propertyName = "transmissionTypeId", modelType = typeof(TransmissionTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseFuel">Fuel</span>
            </div>
            <div id="collapseFuel" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.fuelTypeId, propertyName = "fuelTypeId", modelType = typeof(CarFuelTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseEngine">Engine</span>
            </div>
            <div id="collapseEngine" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.engineTypeId, propertyName = "engineTypeId", modelType = typeof(CarEngineTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseDrive">Drive Train</span>
            </div>
            <div id="collapseDrive" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.driveTypeId, propertyName = "driveTypeId", modelType = typeof(CarDriveTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapseDoor">Doors</span>
            </div>
            <div id="collapseDoor" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    @Html.Action("CollapseList", "car", new { id = Model.doorTypeId, propertyName = "doorTypeId", modelType = typeof(CarDoorTypeVo) })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle title" data-toggle="collapse" href="#collapselistingdate">Listing Date</span>
            </div>
            <div id="collapselistingdate" class="accordion-body collapse">
                <div class="accordion-inner" style="margin: 1px; padding: 1px;">
                    <ul class="nav nav-list" style="background-color: none; color: white; text-align: center">
                        @{
                            string[] list = { "Any Date", "Last 1 Day", "Last 3 Days", "Last 7 Days", "Last 2 Weeks", "Last Month", "Last 2 Months" };
                            for (int i = 0; i < 7; i++)
                            {
                                if (Model.listingDate == null)
                                {
                                    if (i == 0)
                                    {
                                        <li style="background-color: blue;"><a href="#" onclick="selectAction(null,'listingDate');">@list[i] </a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#" onclick="selectAction(@(i - 1),'listingDate');">@list[i] </a></li>
                                    }
                                }
                                else
                                {
                                    if (i - 1 == Model.listingDate)
                                    {
                                        
                                        <li style="background-color: blue;"><a href="#"  onclick="selectAction(@(i - 1),'listingDate');">@list[i] </a></li>
                                    }
                                    else
                                    {
                                        if (i == 0)
                                        {<li><a href="#"  onclick="selectAction(null,'listingDate');">@list[i] </a></li>}
                                        else
                                        {<li><a href="#"  onclick="selectAction(@(i - 1),'listingDate');">@list[i] </a></li>}
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>



    @if (Model.isAdvanceOn == true)
    {
        <script>
            $("#detailSearch").show();
            $("#more").html("Basic Search");
            $("#leftColumn").css("min-height", "1400px");
        </script>
    }


</form>
