@model SO.SilList.Manager.Models.ValueObjects.CarVo

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutCar.cshtml";
}
<style>
    .info {
        border: 1px solid #808080;
        padding: 1px;
        border-radius: 6px;
        height: 20px;
        background-color: #ccc;
    }
</style>
<script>
    // Load the classic theme
    Galleria.loadTheme('/Scripts/galleria/galleria.classic.js');

    // Initialize Galleria
    Galleria.run('#galleria', {

        extend: function (options) {

            Galleria.log(this) // the gallery instance
            Galleria.log(options) // the gallery options
            Galleria.configure({
                imageCrop: false,
                transition: 'fade'
            });
            // listen to when an image is shown
            this.bind('image', function (e) {

                Galleria.log(e) // the event object may contain custom objects, in this case the main image
                Galleria.log(e.imageTarget) // the current image

                // lets make galleria open a lightbox when clicking the main image:
                $(e.imageTarget).click(this.proxy(function () {
                    this.openLightbox();
                }));
            });
            addImages();
        }
    });
    
    function addImages()
    {
        var list =  @Html.Raw(Json.Encode(ViewBag.ImagesURL))
         n = list.length;
        var gallery = Galleria.get(0);
        if (n > 0)
            gallery.splice(0, 1);
        
        for (var i = 0; i < n; i++) {
            data = list[i]
            gallery.push({ image: data });

        }
        gallery.show(1);
        gallery.show(1);
        gallery.play;
        
    }

</script>

<div class="row" style="margin: 5px;">
    <div class="span8">
        <h2  style="color: #090f4a; text-shadow: 5px 3px 2px #a3a3a4">@Html.DisplayFor(model => model.year) @Html.DisplayFor(model => model.modelType.makeType.name) @Html.DisplayFor(model => model.modelType.name)</h2>
    </div>
    <div class="span4" style="text-align: center;">
        <h3>$@Html.DisplayFor(model => model.price)<b style="font-size: small;">.00</b></h3>
    </div>
</div>
<div class="row" style="margin-left: 5px;">

    <div id="galleria" style="height: 400px; width: 100%; background-color:white; ">
        <img src="~/Images/dif-carImage.jpg">
    </div>
</div>

<div class="row" style="height: 400px; margin: 5px;">
    <div class="span8" style="height: 400px; border-radius: 6px;">
        <div style="border: inset; border-color: #808080; height: 120px; border-radius: 6px; margin-bottom: 5px">
            <b style="font-size: medium; font-style: italic; margin: 10px; padding: 5px; border-bottom: 1px solid #ccc;">Location</b>

            <div style="margin: 5px; height: 60px; margin-left: 30px">
                <div style="height: 40px;">
                    <b>Address:</b>
                    @Html.DisplayFor(model => model.address)
                    @Html.DisplayFor(model => model.cityType.name)
                    @if (Model.cityType != null)
                    { <b>,</b>}
                    @Html.DisplayFor(model => model.stateType.stateCode)
                </div>
                <div>
                    <b>Zip Code:</b>
                    @Html.DisplayFor(model => model.zip)
                </div>
            </div>
            <div>
                <div class="span5" style="margin-left: 30px">
                    <b>Phone:</b>
                    @Html.DisplayFor(model => model.phone)
                </div>
                <div class="span5">
                    <b>Fax:</b>
                    @Html.DisplayFor(model => model.fax)
                </div>
            </div>

        </div>
        <div style="border: inset; border-color: #808080; height: 270px; border-radius: 6px; margin-bottom: 5px">
            <b style="font-size: medium; font-style: italic; margin: 10px; padding: 5px; border-bottom: 1px solid #ccc;">Description</b>
            <div style="margin: 5px; margin-left: 10px">
                <p>
                    @Html.DisplayFor(model => model.description)
                </p>
            </div>
        </div>
        <div style="border: inset; border-color: #808080; height: 30px; border-radius: 6px; padding: 10px;">
            <input type="button" value="Back" class="btn btn-info" onclick="history.go(-1); return true;">
            <a href="#" class="btn btn-primary pull-right" style="margin-left: 10px">Contact</a>
            <a href="#" class="btn btn-warning pull-right">Save</a>
        </div>
    </div>
    <div class="span4" style="border: inset; border-color: #808080; height: 470px; border-radius: 6px; padding: 10px;">
        <b>Millage:</b>
        <div class="info">@Html.DisplayFor(model => model.millage)</div>
        <b>Body:</b>
        <div class="info">@Html.DisplayFor(model => model.carBodyType.name)</div>
        <b>Trasmission:</b>
        <div class="info">@Html.DisplayFor(model => model.transmissionType.name)</div>
        <b>Fuel:</b>
        <div class="info">@Html.DisplayFor(model => model.carFuelType.name)</div>
        <b>Drive:</b>
        <div class="info">@Html.DisplayFor(model => model.carDriveType.name)</div>
        <b>Engine:</b>
        <div class="info">@Html.DisplayFor(model => model.carEngineType.name)</div>
        <b>Door:</b>
        <div class="info">@Html.DisplayFor(model => model.carDoorType.name)</div>
        <b>Exterior Color:</b>
        <div class="info">@Html.DisplayFor(model => model.exteriorColorType.name)</div>
        <b>Interior Color:</b>
        <div class="info">@Html.DisplayFor(model => model.interiorColorType.name)</div>
        <b>Vin:</b>
        <div class="info">@Html.DisplayFor(model => model.vin)</div>

    </div>
</div>
