@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ListingImagesVo>

<p>
   <a href="@Url.Action("Create")" class="btn btn-info">Create New</a> 
</p>
<table class="table table-bordered table-hover>
    <tr>
        <th>
           Image
        </th>
        <th>
            Listing
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.image.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listing.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            <a href="@Url.Action("Edit",    new { id=item.listingImageId })" class="btn">Edit</a>
            <a href="@Url.Action("Details", new { id=item.listingImageId })" class="btn">Details</a>
            <a href="@Url.Action("Delete",  new { id=item.listingImageId })" class="btn">Delete</a>
        </td>
    </tr>
}

</table>