@model SO.SilList.Manager.Models.ValueObjects.PropertyTypeVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset class="form-horizontal">
    <legend></legend>

    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.propertyTypeId)
        </div>
        <div class="controls">
              <input type="text" value="@Html.DisplayFor(model => model.propertyTypeId)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.name)
        </div>
        <div class="controls">
              <input type="text" value="@Html.DisplayFor(model => model.name)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.description)
        </div>
        <div class="controls">
              <input type="text" value="@Html.DisplayFor(model => model.description)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> @Html.DisplayNameFor(model => model.isActive)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isActive)
        </div>
    </div> 

</fieldset>
<p>
    <a href="@Url.Action("Index", new { id=Model.propertyTypeId })" class="btn">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
