@model SO.SilList.Manager.Models.ValueObjects.TransmissionTypeVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>
</fieldset>
<p>
    <a harf="@Url.Action("Edit",new {id=Model.transmissionTypeId}) class="btn btn-info">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
