@model SO.SilList.Manager.Models.ValueObjects.TransmissionTypeVo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend></legend>

        @Html.HiddenFor(model => model.transmissionTypeId)

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.transmissionTypeId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.transmissionTypeId)" readonly="true">
        </div>
    </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        </div>

           <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        </div>



        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
        </div>

         <p class="controls">
            <input type="submit" value="Save" />
            <a href="@Url.Action("Index")" class ="btn btn-info">Back to List</a>
        </p>
    </fieldset>
}
