@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.JobVo>

<p>
     <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.siteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cityTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isTravelRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isTelecomute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobCompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.siteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cityTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTravelRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTelecomute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobCompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.jobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jobId })
        </td>
    </tr>
}

</table>
