 <a href="@Url.Action("Index","Job")" class="btn btnLeftMenu" style="width:120px;">
     Jobs
 </a>
    
<a href="@Url.Action("Index","JobCompany")" class="btn btnLeftMenu" style="width:120px;">
      Companies
 </a>

<a href="@Url.Action("Index","JobCategoryType")" class="btn btnLeftMenu " style="width:120px;">
    Categories
 </a>
<a href="@Url.Action("Index","JobType")" class="btn btnLeftMenu"  style="width:120px;">
     Job Types
 </a>
<a href="@Url.Action("Index","ApproveEntries")" class="btn btnLeftMenu" style="width:120px;">
     Approve List
 </a>