@model SO.SilList.Manager.Models.ValueObjects.JobVo

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Job", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend></legend>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.siteId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "Site", new { id = Model.siteId })
                <a href="@Url.Action("Index", "Site", new { backUrl = @Url.RouteUrl(ViewContext.RouteData.Values), backName = @ViewContext.RouteData.Values["controller"].ToString() })" class="btn">Sites</a>
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.title)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.description)
            </div>
            <div class="controls">
                @Html.TextAreaFor(model => model.description, new { rows=10})
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.jobTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "JobType", new { id = Model.jobTypeId })
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.companyName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.companyName)
                @Html.ValidationMessageFor(model => model.companyName)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.contactName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.contactName)
                @Html.ValidationMessageFor(model => model.contactName)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.address)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.address)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.cityTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "CityType", new { id = Model.cityTypeId })
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.stateTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "StateType", new { id = Model.stateTypeId })
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.countryTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "CountryType", new { id = Model.countryTypeId })
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.zip)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.zip)
                @Html.ValidationMessageFor(model => model.zip)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.website)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.website)
                @Html.ValidationMessageFor(model => model.website)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.phone)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.phone)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.fax)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.fax)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.isTravelRequired)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.isTravelRequired)
                @Html.ValidationMessageFor(model => model.isTravelRequired)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.isTelecomute)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.isTelecomute)
                @Html.ValidationMessageFor(model => model.isTelecomute)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.startDate)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.startDate)
                @Html.ValidationMessageFor(model => model.startDate)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.endDate)
            </div>
            <div class="controls">
                <!-- <input type="text" value="@Html.DisplayFor(model => model.endDate)" id="endDate" /> -->
                @Html.EditorFor(model => model.endDate)
                @Html.ValidationMessageFor(model => model.endDate)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.isApproved)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.isApproved)
                @Html.ValidationMessageFor(model => model.isApproved)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.isActive)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive)
            </div>
        </div>

        <p class="controls">
            <input type="submit" value="Create" />
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>
    </fieldset>
}

