@model SO.SilList.Manager.Models.ValueObjects.JobVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset class="form-horizontal">
    <legend></legend>


    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.jobId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.jobId)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.siteId)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.site.domain)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.title)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.title)" readonly="true">
        </div>
    </div>
        <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.jobCategories)</label>
        <div class="controls" style="padding-bottom:10px">
            
             
            @{
                SO.SilList.Manager.Managers.JobCategoriesManager jm = new SO.SilList.Manager.Managers.JobCategoriesManager();
                foreach(var item in Model.jobCategories)
                {
                    var categoryId = item.jobCategoriesId;
                 <span style="border:1px solid #909090; background-color:#e0dfdf; border-radius:5px; padding:6px; margin:3px "> @jm.get(categoryId).jobCategoryType.name </span>
                }
            }
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.description)</label>
        <div class="controls">
            <textarea readonly="true" rows="10">@Html.DisplayFor(model => model.description)</textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.jobTypeId)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.jobType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.companyName)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.companyName)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.contactName)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.contactName)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.address)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.address)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.cityTypeId)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.cityType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.stateTypeId)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.stateType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.countryTypeId)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.countryType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.zip)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.zip)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.email)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.email)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.website)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.website)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.phone)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.phone)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.fax)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.fax)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.isTravelRequired)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isTravelRequired)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.isTelecomute)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isTelecomute)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.created)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.created)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.startDate)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.startDate)" readonly="true">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.startDate)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.startDate)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.modified)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.modified)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.createdBy)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.createdBy)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.modifiedBy)</label>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.modifiedBy)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.isApproved)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isApproved)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.isActive)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isActive)
        </div>
    </div>
     <p class="controls">
    <a href="@Url.Action("Edit", new { id=Model.jobId })" class="btn">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
</fieldset>
