@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:center;">
  <a href="@Url.Action("Index","Member")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#A4C400; ">
      Members

  </a>

  <a href="@Url.Action("Index","Rental")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#1BA1E2">
      Rentals

  </a>

  <a href="@Url.Action("Index","Job")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#AA00FF; ">
      Jobs
  </a>

  <a href="@Url.Action("Index","Business")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#F0A30A; ">
      Businesses
  </a>

   <a href="@Url.Action("Index","Car")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#E3C800; ">
      Cars
  </a>

  <a href="@Url.Action("Index","Listing")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#647687; ">
      Listings
  </a>

   <a href="@Url.Action("Index","Configuration")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#D80073; ">
      Configuration
  </a>

   <a href="@Url.Action("Index","Administration")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#343434; ">
      Administration
  </a>

  
   <a href="@Url.Action("Index","Report")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#FA6800; ">
      Reports
  </a>
        
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
   
    </div>







