@model SO.SilList.Manager.Models.ViewModels.ListingCategoryTypeVm
@{
    ViewBag.Title = "Listing Categories";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@*
@Html.Action("List")
    *@

<form class="form-inline" method="get" action="@Url.Action("Index","ListingCategoryType")">

 
@Html.Action("Filter",@Model)

<div class="pull-right">
   @Model.rowCount of @Model.result.Count()

</div>
@Html.Partial("List", @Model.result)


@Html.Action("Pagination", @Model)


 </form>