@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ListingCategoryTypeVo>


<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            <span>@String.Format("{0:MM/dd/yyy}", item.created)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.listingCategoryTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.listingCategoryTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.listingCategoryTypeId })
        </td>
    </tr>
}

</table>
