@model SO.SilList.Manager.Models.ViewModels.CarEngineTypeVm

@{
    ViewBag.Title = "Engine";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form id="filterForm" class="form-inline" method="get" action="@Url.Action("Index","CarEngineType")">
    
    @Html.Action("Filter",@Model)
    <div class="pull-right">
        @((Model.paging.pageNumber-1) * Model.paging.rowCount + Model.result.Count) of @Model.paging.totalCount
    </div>
    @Html.Partial("_List", @Model.result)
    @Html.Action("Pagination", @Model.paging)
</form>
