@*@model SO.SilList.Manager.Models.ValueObjects.PropertyVo*@

<a href="@Url.Action("Index","Property")" class="btn btnLeftMenu" style="width:120px;">
      Property
 </a>

<a href="@Url.Action("Index","PropertyType")" class="btn btnLeftMenu" style="width:120px;">
      Property Type
 </a>

<a href="@Url.Action("Index","PropertyListingType")" class="btn btnLeftMenu" style="width:120px;">
      Listing Type
 </a>
<a href="@Url.Action("Index","BedroomType")" class="btn btnLeftMenu" style="width:120px;">
      Bedroom 
 </a>
<a href="@Url.Action("Index","BathroomType")" class="btn btnLeftMenu" style="width:120px;">
      Bathroom 
 </a>
<a href="@Url.Action("Index","AcceptsSection8Type")" class="btn btnLeftMenu" style="width:120px;">
      Accepts Section 8 
 </a>
<a href="@Url.Action("Index","IsPetAllowedType")" class="btn btnLeftMenu" style="width:120px;">
      Is Pet Allowed 
 </a>
@*
@*
<a href="@Url.Action("Index","EntryStatusType")" class="btn btnLeftMenu" style="width:120px;">
      Status Types
 </a>
*@
<a href="@Url.Action("EntryStatusIndex","Property")" class="btn btnLeftMenu" style="width:120px;">
     Approve List
</a>