@model SO.SilList.Manager.Models.ValueObjects.ListingVo
@{
    ViewBag.Title = "Detail View";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
 @* @Html.DisplayFor(model => Model.listingCategories.FirstOrDefault().listingCategoryType.name *@
<div class="span12 businessInfo" id="mainContent" style="background-color:lavender">
      <a class="pull-left" href="#" >
      <img class="media-object, thumbnail" data-src="holder.js/60x60">  @Html.DisplayFor(model => model.siteId)
    </a>
    <div class="media-body" style="padding:5px;">

          <div class="businessAddressLine">Category: @Html.DisplayFor(model => model.listingCategories.FirstOrDefault().listingCategoryType.name) </div> 
          <div class="businessAddressLine">Type: @Html.DisplayFor(model => model.listingType.name) </div> 
           
        <div style="margin-left:70%; margin-top:-40px; ">
          <div class="businessAddressLine">123 Address</div>
          <div class="businessAddressLine">Los Angeles, CA 92222</div> 
          <div class="businessAddressLine">818-222-3344</div>  
          <div class="businessAddressLine"><a href="/">  @Html.DisplayFor(model => model.site.domain) </a></div>  
        </div>
    </div>

         <div style="margin-top:10px; margin-bottom:5px;" > @Html.DisplayFor(model => model.description) </div> 
    <hr />
    
</div>
