@model SO.SilList.Manager.Models.ViewModels.ListingVm
 
<form id="filterForm" class="form-inline" method="get" action="@Url.Action("Index","Listings")">  

<label>Keyword:</label>
 <label class="pull-center">  
@Html.ValidationSummary(true)
@Html.TextBoxFor(model => model.keyword,new { Class = "input-large", placeholder =  "Keyword"})
@Html.ValidationMessageFor(model => model.keyword)
<br />

@Html.CheckBoxFor(model => model.titleOnly) Title Only</label>
@*
<label>Location:</label>
@Html.ValidationSummary(true)
@Html.TextBoxFor(model => model.location,new { Class = "input-large", placeholder =  "Location" })
@Html.ValidationMessageFor(model => model.location)
*@
 <br /><br />
<label>Location:</label>
@Html.ValidationSummary(true)
@Html.TextBoxFor(model => model.locKeyword,new { Class = "input-large", placeholder =  "City, State or Zip"})
@Html.ValidationMessageFor(model => model.locKeyword)

<br /><br />
<button name="submitButton" value="Search" type="submit" class="btn btn-success pull-right">Search</button>
<br /><br />

@Html.HiddenFor(model=> model.paging.pageNumber)
@Html.HiddenFor(model=> model.listingCategoryTypeId)
@Html.HiddenFor(model=> model.listingTypeId)

 <br />
  <ul class="nav nav-list" style="background-color:none; color:white; margin-top:10px; " >
    <li class="nav-header" style="background-color:DimGray;">By Category:</li>
      
      @Html.Action("getTopCategories", "ListingCategoryType")
      
<!--
      <li ><a href="#"  id="rentals" onclick="rentalsAction()"> Rentals </a></li>
      <li ><a href="#"  id="jobs" onclick="jobsAction()">Jobs</a></li>
      <li ><a href="#"  id="cars" onclick="carsAction()">Cars</a></li>
      <li ><a href="#"  id="business" onclick="businessAction()">Businesses</a></li>

      <li ><a href="#"  onclick="$('#category').val('Rentals'); $('#filterForm').submit();return false">Rentals</a></li>
      <li ><a href="#"  onclick="$('#category').val('Jobs'); $('#filterForm').submit();return false">Jobs</a></li>
      <li ><a href="#"  onclick="$('#category').val('Cars'); $('#filterForm').submit();return false">Cars</a></li>
      <li ><a href="#"  onclick="$('#category').val('Businesses'); $('#filterForm').submit();return false">Businesses</a></li>

    <li ><a href="#" style="font-size:100%" onclick="$('#category').val(null); $('#filterForm').submit();return false"> Show All </a></li>
-->
   </ul>
  <br />
         
  <ul class="nav nav-list" style="background-color:none; color:white; margin-top:10px; " >
    <li class="nav-header" style="background-color:DimGray;">By Type:</li>

      @Html.Action("getTopTypes", "ListingType")
<!--
      <li ><a href="#"  id="buy" onclick="buyAction()"> Buy </a></li>
      <li ><a href="#"  id="sell" onclick="sellAction()">Sell</a></li>

      <li ><a href="#"  onclick="$('#type').val('Buy'); $('#filterForm').submit();return false">Buy</a></li>
      <li ><a href="#"  onclick="$('#type').val('Sell'); $('#filterForm').submit();return false">Sell</a></li>
-->
  </ul>

</form>


<script> 
    /*
    $('.typeahead').typeahead({

        source: function (query, process) {
            return $.getJSON(
                'path/to/lookup',
                { query: query },
                function (data) {
                    return process(data);
                });
        }

    });
    */
    function rentalsAction() {
        var cat = $('#category').val();
        if (cat.length == 0) {
            $('#category').val('Rentals');
            //$('#rentals').body.style.backgrounColor = "red";
        } else {
            $('#category').val(null);
           // $('#rentals').body.style.backgroundColor = "white";
        }
        $('#filterForm').submit();
        return false;
    };

    function carsAction() {
        var cat = $('#category').val();
        if (cat.length == 0) {
            $('#category').val('Cars');
        } else {
            $('#category').val(null);
        }
        $('#filterForm').submit();
        return false;
    };

    function jobsAction() {
        var cat = $('#category').val();
        if (cat.length == 0) {
            $('#category').val('Jobs');
        } else {
            $('#category').val(null);
        }
        $('#filterForm').submit();
        return false;
    };

    function businessAction() {
        var cat = $('#category').val();
        if (cat.length == 0) {
            $('#category').val('Business');
        } else {
            $('#category').val(null);
        }
        $('#filterForm').submit();
        return false;
    };

    function buyAction() {
        var cat = $('#type').val();
        if (cat.length == 0) {
            $('#type').val('Buy');
        } else {
            $('#type').val(null);
        }
        $('#filterForm').submit();
        return false;
    };

    function sellAction() {
        var cat = $('#type').val();
        if (cat.length == 0) {
            $('#type').val('Sell');
        } else {
            $('#type').val(null);
        }
        $('#filterForm').submit();
        return false;
    };

</script>

