@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ListingVo>

@foreach (var item in Model) {
    
 @*  
<div class="span12 businessInfo" id="mainContent" style="background-color:lavender">
 *@
<div class="span12 businessInfo" id="mainContent" style="background-color:lavender">
      <a class="pull-left" href="#" >
      <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding:5px;">
         <a href="#">
         <h5 class="media-heading"> <a href="@Url.Action("DetailView","Listings")"> @Html.DisplayFor(modelItem => item.title) </a> </h5>
         </a>

          <div class="businessAddressLine">Category: <a href="/"> @Html.DisplayFor(modelItem => item.listingCategories.FirstOrDefault().listingCategoryType.name) </a></div> 
          <div class="businessAddressLine">Type: <a href="/"> @Html.DisplayFor(modelItem => item.listingType.name) </a> </div> 

        <div style="margin-left:70%; margin-top:-40px; ">
          <div class="businessAddressLine">123 Address</div>
          <div class="businessAddressLine">Los Angeles, CA 92222</div> 
          <div class="businessAddressLine">818-222-3344</div>  
          <div class="businessAddressLine"><a href="/">  @Html.DisplayFor(modelItem => item.site.domain) </a></div>  
        </div>
    </div>

         <div style="margin-top:10px; margin-bottom:5px;" > @Html.DisplayFor(modelItem => item.description): </div> 
    <hr />
    
</div>
}   


@*

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.siteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listingTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
    </tr>
}

</table>
*@