@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ListingVo>

@foreach (var item in Model) {
    
<div class="span12 businessInfo" id="mainContent" style="background-color:lavender">
      <a class="pull-left" href="#" >
      <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding:5px;">
         <a href="#">
         <h5 class="media-heading"> <a href="@Url.Action("_Details","Listings",new { id=item.listingId })"> @Html.DisplayFor(modelItem => item.title) </a> </h5>
         </a>

          <div class="businessAddressLine">Category: 
                <a href="/"> 
                 @{ 
                   foreach(var category in item.listingCategories){
                       <span> <a href="/"> @category.listingCategoryType.name  </a></span>          
                       <span>, </span>
                   }  
                   
               }
              
              @*
              @Html.DisplayFor(modelItem => item.listingCategories.FirstOrDefault().listingCategoryType.name) 
            *@
                </a>
          </div> 
          <div class="businessAddressLine">Type: <a href="/"> @Html.DisplayFor(modelItem => item.listingType.name) </a> </div> 

        <div style="margin-left:70%; margin-top:-40px; ">
          <div class="businessAddressLine">@Html.DisplayFor(modelItem  => item.address)</div>
          <div class="businessAddressLine">@Html.DisplayFor(modelItem  => item.cityTypeId) , @Html.DisplayFor(modelItem  => item.stateTypeId)  @Html.DisplayFor(modelItem  => item.zip)</div> 
          <div class="businessAddressLine">@Html.DisplayFor(modelItem  => item.phone)</div>  
          <div class="businessAddressLine"><a href="/">  @Html.DisplayFor(modelItem => item.site.domain) </a></div>  
        </div>
    </div>

         <div style="margin-top:10px; margin-bottom:5px;" > @Html.DisplayFor(modelItem => item.description): </div> 
    <hr />
    
</div>
}   
