 <a href="@Url.Action("Index","Business")" class="btn btnLeftMenu" style="width:120px;">
      Businesses
 </a>
    
<a href="@Url.Action("Index","BusinessCategoryType")" class="btn btnLeftMenu" style="width:120px;">
      Categories
 </a>

<a href="@Url.Action("Index","ServiceType")" class="btn btnLeftMenu" style="width:120px;">
      Services
 </a>

<a href="@Url.Action("Index","ImageType")" class="btn btnLeftMenu" style="width:120px;">
      Images
 </a>

<a href="@Url.Action("Index","SiteType")" class="btn btnLeftMenu" style="width:120px;">
      Sites
 </a>
