@model SO.SilList.Manager.Models.ValueObjects.BusinessVo

@{
    ViewBag.Title = "Create2";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Create2</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BusinessVo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.listingDetailId)
            @Html.EditorFor(model => model.listingDetailId)
            @Html.ValidationMessageFor(model => model.listingDetailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.siteId)
            @Html.EditorFor(model => model.siteId)
            @Html.ValidationMessageFor(model => model.siteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.state)
            @Html.EditorFor(model => model.state)
            @Html.ValidationMessageFor(model => model.state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zip)
            @Html.EditorFor(model => model.zip)
            @Html.ValidationMessageFor(model => model.zip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.createdBy)
            @Html.EditorFor(model => model.createdBy)
            @Html.ValidationMessageFor(model => model.createdBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modifiedBy)
            @Html.EditorFor(model => model.modifiedBy)
            @Html.ValidationMessageFor(model => model.modifiedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modified)
            @Html.EditorFor(model => model.modified)
            @Html.ValidationMessageFor(model => model.modified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.created)
            @Html.EditorFor(model => model.created)
            @Html.ValidationMessageFor(model => model.created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isActive)
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
