@model SO.SilList.Manager.Models.ViewModels.BusinessVm

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";

}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Business", FormMethod.Post, new { @encType = "multipart/form-data", id = "myForm" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BusinessVo</legend>

        @Html.HiddenFor(model => model.business.businessId)

        <div class="editor-label">
            @Html.LabelFor(model => model.business.siteId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "Site", new { id = Model.business.siteId })
            <a href="@Url.Action("Index", "Site", new { backUrl = @Url.RouteUrl(ViewContext.RouteData.Values), backName = @ViewContext.RouteData.Values["controller"].ToString() })" class="btn">Sites</a>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.business.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.name)
            @Html.ValidationMessageFor(model => model.business.name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.business.url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.url)
            @Html.ValidationMessageFor(model => model.business.url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.business.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.phone)
            @Html.ValidationMessageFor(model => model.business.phone)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.business.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.address)
            @Html.ValidationMessageFor(model => model.business.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.business.cityTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.cityTypeId)
            @Html.ValidationMessageFor(model => model.business.cityTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.business.stateTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.stateTypeId)
            @Html.ValidationMessageFor(model => model.business.stateTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.business.zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.zip)
            @Html.ValidationMessageFor(model => model.business.zip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.business.isActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.business.isActive)
            @Html.ValidationMessageFor(model => model.business.isActive)
        </div>

        @* business image stuff below *@
        @{
            if (Model.imagesToRemove != null)
            {
                for (int index = 0; index < Model.imagesToRemove.Count; ++index)
                {
                    <hr />
                    @Html.HiddenFor(x => x.imagesToRemove[index].imageIdStr);
                    <br />
                    <img src="@Model.imagesToRemove[index].imageUrlStr" width="100px"  id="img_@index" />
        
                    @: Uncheck to remove: 
                    @Html.CheckBoxFor(m => m.imagesToRemove[index].imageIsChecked, new { id = "removeImg_" + index.ToString() })
                }
                    <br />
            }
        }
        <hr />
        @Html.Partial("../Image/_ImagePickerControls")
        <br />
        @* end of business images stuff *@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</div>
