@model SO.SilList.Manager.Models.ValueObjects.CarColorTypeVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset class="form-horizontal">
    <legend></legend>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.carColorTypeId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.carColorTypeId)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
        <div class="controls">
        <input type="text" value="@Html.DisplayFor(model => model.name)" readonly="true">
    </div>
    </div>

    <div class="control-group">
        <div class="control-label">
         @Html.DisplayNameFor(model => model.created)
    </div>       
         <div class="controls">
        <input type="text"  value="@String.Format("{0:MM/dd/yyy}", Model.created)" readonly="true">
    </div>
    </div>

    <div class="control-group">
        <div class="control-label">
         @Html.DisplayNameFor(model => model.modified)
    </div>
        <div class="controls">
         <input type="text"  value="@String.Format("{0:MM/dd/yyy}", Model.modified)" readonly="true">
    </div>
    </div>

    <div class="control-group">
        <div class="control-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
        <div class="controls">
        @Html.DisplayFor(model => model.createdBy)
    </div>
    </div>

    <div class="control-group">
        <div class="control-label">
         @Html.DisplayNameFor(model => model.modifiedBy)
    </div>
        <div class="controls">
        @Html.DisplayFor(model => model.modifiedBy)
    </div>
    </div>

    <div class="control-group">
        <div class="control-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
        <div class="controls">
        @Html.DisplayFor(model => model.isActive)
    </div>
    </div>
</fieldset>
<p>
    <a href="@Url.Action("Edit", new { id=Model.carColorTypeId })" class="btn">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
