@model SO.SilList.Manager.Models.ValueObjects.EntryStatusTypeVo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend></legend>

        @Html.HiddenFor(model => model.entryStatusTypeId)

        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.name)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.name)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.description)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.description)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.isActive)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive)
            </div>
        </div>
        <br />
        <p>
            <input type="submit" class="btn"  value="Save" />
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>
    </fieldset>
}

