@model SO.SilList.Manager.Models.ViewModels.JobVm

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJob.cshtml";
}

<h2>Jobs</h2>

<div style="height:20px">
    <div class="pull-right" >
        @((Model.paging.pageNumber - 1) * Model.paging.rowCount + Model.result.Count) of @Model.paging.totalCount
    </div>
    </div>

 @Html.Partial("_JobItem", Model.result)


@Html.Action("Pagination", @Model.paging)