@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.MemberVo>

<table class="table table-bordered table-hover">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cityTypeId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.stateTypeId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.zip)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ipAddress)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.lastLogin)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cityTypeId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.stateTypeId)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ipAddress)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.lastLogin)
            <span>@String.Format("{0:MM/dd/yyy}", item.lastLogin)</span>
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
         <td>
            <a href="@Url.Action("Edit",new { id=item.memberId })" class="btn" title="Edit"><i class="icon-edit"></i></a>
            <a href="@Url.Action("Details",new { id=item.memberId })" class="btn" title="Detail"><i class="icon-list"></i></a>
            <a href="@Url.Action("Delete",new { id=item.memberId })" class="btn" title="Delete"><i class="icon-trash"></i></a>
        </td>
    </tr>
}

</table>
<p>
    <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>
