<a href="@Url.Action("Index","Member")" class="btn btnLeftMenu" style="width:120px;">
      Member
 </a>
    
@* This will go to Business section later *@
<a href="@Url.Action("Index", "Image")" class="btn btnLeftMenu" style="width:120px;">
      Business Images
</a>

@* This will go to Business section later *@
<a href="@Url.Action("BusinessImages", "Image")" class="btn btnLeftMenu" style="width:120px;">
      Business Images (chisht dzev  @@ SAYA)
</a>

@* This will go to Car section later *@
<a href="@Url.Action("CarImages", "Image")" class="btn btnLeftMenu" style="width:120px;">
      Car Images
</a>

@* This will go to Rental section later *@
<a href="@Url.Action("RentalImages", "Image")" class="btn btnLeftMenu" style="width:120px;">
      Rental Images
</a>

@* This will go to Listing section later *@
<a href="@Url.Action("ListingImage", "Image")" class="btn btnLeftMenu" style="width:120px;">
      Listing Images
</a>
