@model SO.SilList.Manager.Models.ViewModels.MemberVm

<script type="text/javascript">
    function onClickPagination(pageNum) {
        $('#pageNumber').val(pageNum);
        $('#filterForm').submit();
        return false;
    }
</script>

<div class="pagination pull-left">
    <b>@Html.Raw(Model.FromToTextOfPagination())</b>
</div>
<div class="pagination pull-right">
    @Html.HiddenFor(m => m.pageNumber)


    <ul>
        @if (Model.pageNumber == null)
        {
            <h1><b>Handle the pageNumber NULL situation</b></h1>
        }

        @if (Model.pageCount > 1)
        {
            bool bDisableFirstOrPrev = (Model.pageNumber == null || Model.pageNumber.Value < 2);
            string disableFirstOrPrev = bDisableFirstOrPrev ? "disabled" : "enabled";
            bool bDisableLastOrNext = (Model.pageNumber == null || Model.pageNumber.Value == Model.pageCount);
            string disableLastOrNext = bDisableLastOrNext ? "disabled" : "enabled";
            int prevPageNum = Model.pageNumber.Value - 1;
            int nextPageNum = Model.pageNumber.Value + 1;
            int lastPageNum = Model.pageCount;

            string javaScriptFirst = "";
            string javaScriptPrev = "";
            if (!bDisableFirstOrPrev)
            {
                javaScriptFirst = "onClickPagination(1)";
                javaScriptPrev = "onClickPagination(" + prevPageNum + ")";
            }
            <li class="@disableFirstOrPrev"><a href="#" onclick="@javaScriptFirst">First</a></li>
            <li class="@disableFirstOrPrev"><a href="#" onclick="@javaScriptPrev">Prev</a></li>
            
            int firstVisiblePage = Model.FirstVisiblePage();
            int lastVisiblePageNum = Model.LastVisiblePage();
            for (; firstVisiblePage <= lastVisiblePageNum; ++firstVisiblePage)
            {
                string disabled = (Model.pageNumber == firstVisiblePage) ? "disabled" : "enabled";
                string javaScript = (Model.pageNumber == firstVisiblePage) ? "" : "onClickPagination(" + firstVisiblePage + ")";
            <li class="@disabled"><a href="#" onclick="@javaScript">@firstVisiblePage</a></li>
            }

            string javaScriptNext = "";
            string javaScriptLast = "";
            if (!bDisableLastOrNext)
            {
                javaScriptNext = "onClickPagination(" + nextPageNum + ")";
                javaScriptLast = "onClickPagination(" + lastPageNum + ")";
            }

            <li class="@disableLastOrNext"><a href="#" onclick="@javaScriptNext">Next</a></li>
            <li class="@disableLastOrNext"><a href="#" onclick="@javaScriptLast">Last</a></li>
        }
    </ul>
</div>
