@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.PropertyVo>

@foreach (var item in Model) {
    

<div class="span12 businessInfo" id="mainContent" style="background-color:lavender">
      <a class="pull-left" href="#" >
      <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding:5px;">
         <a href="#">
         <h5 class="media-heading"> @Html.DisplayFor(modelItem => item.title)</h5>
         </a>

          <div class="businessAddressLine">Category: Renting</div> 
          <div class="businessAddressLine">Type: @Html.DisplayFor(modelItem => item.propertyType.name) </div>
          <div class="businessAddressLine">Price: @Html.DisplayFor(modelItem => item.price) </div>  
        
        <div style="margin-left:70%; margin-top:-40px; ">
          <div class="businessAddressLine">Address: @Html.DisplayFor(modelItem => item.address) </div>
          <div class="businessAddressLine">Los Angeles, CA 92222</div> 
          <div class="businessAddressLine">Phone Number: @Html.DisplayFor(modelItem =>item.phone) </div>  
          <div class="businessAddressLine">Website<a href="/">  @Html.DisplayFor(modelItem =>item.site.domain)</a></div>
        </div>
    </div>

         <div style="margin-top:10px; margin-bottom:5px;" > @Html.DisplayFor(modelItem => item.description): </div> 
    <hr />
    
</div>
}   