@model SO.SilList.Manager.Models.ValueObjects.PropertyVo
@{
    ViewBag.Title = "_PropertyItem";    
}


    <div class="col-md-12" style="text-align:left">
        <a class="pull-left" href="@Url.Action("Detail", new { id = Model.propertyId })">
            <img class="media-object, thumbnail" data-src="holder.js/60x60">
        </a>
        <div class="media-body" style="padding: 5px;">

            <a href="@Url.Action("Detail", new { id = Model.propertyId })">
                <h5 class="media-heading">@Model.title</h5>
            </a>
            <div>

                @{
                    if (Model.propertyListingTypeId != null)
                    {
                        <div class="businessAddressLine"> For @Model.propertyListingType.name </div>
                    }
                    else
                    {
                        <div class="businessAddressLine"> <br /> </div>
                    }

                    if (Model.propertyTypeId != null)
                    {
                        <div class="businessAddressLine"> Type: @Model.propertyType.name </div>
                    }
                    else
                    {
                        <div class="businessAddressLine"> <br /> </div>
                    }

                    @*if (Model.bedroomTypeId != null) {
                            <div class="businessAddressLine"> Bedrooms: @Model.bedroomTypeId </div>
                        }
                        else {
                            <div class="businessAddressLine"> <br /> </div>
                        }

                        if (Model.bathroomTypeId != null) {
                            <div class="businessAddressLine"> Bathrooms: @Model.bathroomTypeId </div>
                        }
                        else {
                            <div class="businessAddressLine"> <br /> </div>
                        }*@

                }

            </div>
            <div class="businessAddressLine">
                @*@if (Model.phone != null)
                    {
                        Write(Model.phone);
                    }
                    else
                    {
                       <br />
                    }*@


                Location: <a href="/">
                    @Html.DisplayFor(model => model.cityType.name)
                @if (Model.cityType != null)
                { <b>,</b>}
                @Html.DisplayFor(model => model.stateType.name)
            </a>

        </div>
    </div>
    <br />
</div>

<div class="col-md-12" style="text-align:right">
    <div class="pull-right" style=" color: #13033e">
        $@Model.price
    </div>
    <br /><br /><br />

    <div class="media-body" style=" margin-top: -20px;">
        <div class="businessAddressLine">
            @if (Model.address != null)
            {
                Write(Model.address);
            }
        </div>
        <div class="businessAddressLine">
            @Html.DisplayFor(model => model.cityType.name)

            @if (Model.cityType != null)
            { <b>,</b>}

            @Html.DisplayFor(model => model.stateType.name)
            <br />
            @if (Model.zip != null)
            {
                Write("Zip:" + Model.zip);
            }
        </div>
    </div>
</div>

