@model SO.Utility.Models.ViewModels.SearchFilterVm
@using SO.SilList.Manager.Models.ValueObjects;
@using SO.SilList.Manager.Models.ViewModels;
@using SO.Utility.Extensions;
@using SO.SilList.Manager;
@{
    var result = Model.result.convertTo<PropertyVm>();            
}
           
 

<form id="filterForm" class="form-inline" method="get" action="@Url.Action("Index", "Property")">

    @Html.ValidationSummary(true)
    @Html.ValidationMessageFor(model => model.keyword)

    <div class="search-title">
        Property Search
    </div>
    <br />
    <hr />
    <div>
        @Html.TextBoxFor(model => model.keyword, new { Class = "input-medium pull-left", placeholder = "Search" })
        <br /><br />
        <button id="btnSearch" name="submitButton" value="Search" class="btn btn-default pull-right"><i class="icon-search"></i></button>
        <br /><br /><br /><br />
    </div>

    <div>
        <div class="pull-left">     @* new { id = Model.result.propertyListingTypeId } *@
            @Html.Action("propertyListingTypes", "DropDown", new { id = 1 })
        </div>
    </div>

</form>