@model SO.SilList.Manager.Models.ViewModels.CarVm
 <script>
     function advanceSearch() {
        //prompt($("#more").val());
         if ($("#more").val() == "less") {
             $("#more").html('<i class="icon-large icon-plus-sign"></i>');
             $("#more").val("more");
             $("#detailSearch").hide();
         }
         else if ($("#more").val() == "more") {
             $("#more").html('<i class="icon-large icon-minus-sign"></i>');
             $("#more").val("less");
             $("#detailSearch").show();
         }
     };
 </script>
<style>

    #isActive {

        width:90px;
    }

</style>

     @Html.ValidationSummary(true)

      @Html.Action("DropDownList", "Site", new { id = Model.site , propertyName="site",defaultValue = "All Sites"})

     @Html.ValidationMessageFor(model => model.keyword)

     @Html.TextBoxFor(model => model.keyword,new { Class = "input-large", placeholder =  "Search" })

     <label class="checkbox" style="margin-left:10px;">
       @Html.LabelFor(model => model.isActive) 
         @Html.EditorFor(model => model.isActive)
     </label>

  
    <button id= "test" name="submitButton" value="Search" type="submit" class="btn">Search</button>
    <button id="more" value="more" type="button" class="btn" onclick="advanceSearch()"><i class="icon-large icon-plus-sign"></i></button>
<div id="detailSearch" hidden="hidden">
     @Html.Action("DropDownList", "make", new { id = Model.site , propertyName="site",defaultValue = "Any"})
</div>