@model SO.SilList.Manager.Models.ViewModels.CarVm
 <script>
     function advanceSearch() {
         if ($("#more").html() == "Basic Search") {
             $("#detailSearch").hide();
             $("#more").html("Advance Search");
         }
         else if ($("#more").html() == "Advance Search") {
             $("#detailSearch").show();
             $("#more").html("Basic Search");

             $("#more").css('display', 'normal');
         }
     };
 </script>
<style>

    #isActive {

        width:90px;
    }
    #year {
        width:95px;
    }
    #vin{
        width:150px;
    }
    #detailSearch {
        padding:5px; 
        border:2px outset #5f69b2;
        width:660px;
        margin-top:10px;
        border-radius:5px;
    }
    #zip {
    width:100px;
    margin:3px;
    }
    #detailSearch select{
        margin:3px;
        width:155px;
    }

</style>

     @Html.ValidationSummary(true)

      @Html.Action("DropDownList", "Site", new { id = Model.site , propertyName="site",defaultValue = "All Sites"})

     @Html.ValidationMessageFor(model => model.keyword)

   

     <label class="checkbox" style="margin-left:10px;">
       Active
         @Html.EditorFor(model => model.isActive)
     </label>

  
    

<div class="input-append" >
    @Html.TextBoxFor(model => model.keyword,new { Class = "input-large", placeholder =  "Search" })
 
  <button class="btn" name="submitButton" type="submit">Search</button>
</div>

       <a id="more" style="cursor:pointer" onclick="advanceSearch()">Advance Search</a>
<div id="detailSearch" style="display:none;" >
     @Html.Action("DropDownList", "MakeType", new { id = Model.make , propertyName="make",defaultValue = "Any Make"})
    <i id="modelList">
        @Html.Action("DropDownList", "ModelType", new { id = Model.model ,_makeTypeId=Model.make, propertyName="model",defaultValue = "Any Model"})
    </i>
    @Html.Action("DropDownList", "CarBodyType", new { id = Model.body , propertyName="body",defaultValue = "Any Body Types"})
    @Html.Action("DropDownList", "TransmissionType", new { id = Model.transmission , propertyName="transmission",defaultValue = "Any Transmission"})
    @Html.Action("DropDownList", "CarEngineType", new { id = Model.engine , propertyName="engine",defaultValue = "Any Engine"})
    @Html.Action("DropDownList", "CarDriveType", new { id = Model.drive , propertyName="drive",defaultValue = "Any Drive"})
    @Html.Action("DropDownList", "CarDoorType", new { id = Model.door , propertyName="door",defaultValue = "Any Doors"})
    @Html.Action("DropDownList", "CarFuelType", new { id = Model.fuel , propertyName="fuel",defaultValue = "Any Fuel Type"})
    @Html.Action("DropDownList", "CarColorType", new { id = Model.exColor , propertyName="exColor",defaultValue = "Any Color"})
    @Html.Action("DropDownList", "CarColorType", new { id = Model.inColor , propertyName="inColor",defaultValue = "Any Interior"})
                    @{
                    int currentYear = DateTime.Now.Year;
                    var mylist = new string[31];
                    for (int i = 0; i < 31; i++)
                    {
                        mylist.SetValue((currentYear - 30 + i).ToString(), 30 - i);
                    }
                    var selectlist = new SelectList(mylist);
                }
    @Html.DropDownListFor(model => model.year, selectlist,"Any Year")
    @Html.TextBoxFor(model => model.vin, new { placeholder = "Vin Number" })
           @Html.TextBoxFor(model => model.city, new { placeholder = "City" })
        @Html.TextBoxFor(model => model.state, new { placeholder = "State" })
    @Html.TextBoxFor(model => model.zip, new { placeholder = "zip" })  
   <div>
         <label>Price</label> 
        $<input type="text" value="@Model.startingPrice" style="width:50px; margin:5px" placeholder="Starting" name="startingPrice"/>
        to $<input type="text" value="@Model.endingPrice" style="width:50px; margin:5px" placeholder="Ending" name="endingPrice"/>
   
        <label>Millage</label> 
        <input type="text" value="@Model.startingMillage" style="width:50px; margin:5px" placeholder="Starting" name="startingMillage"/>
         to <input type="text" value="@Model.endingMillage" style="width:50px; margin:5px" placeholder="Ending" name="endingMillage"/>
   </div>
</div>


