
<a href="@Url.Action("Index","Car")" class="btn btnLeftMenu" style="width:120px;">
      Cars
 </a>
    
<a href="@Url.Action("Index","ModelType")" class="btn btnLeftMenu" style="width:120px;">
      Models
 </a>

<a href="@Url.Action("Index","MakeType")" class="btn btnLeftMenu" style="width:120px;">
      Makes
 </a>

<a href="@Url.Action("Index","CarBodyType")" class="btn btnLeftMenu" style="width:120px;">
      Body
 </a>

<a href="@Url.Action("Index","TransmissionType")" class="btn btnLeftMenu" style="width:120px;">
      Transmission
 </a>
  
<a href="@Url.Action("Index","Image/CarImages")" class="btn btnLeftMenu" style="width:120px;">
      Image toje seyran w/slash
 </a>
<a href="@Url.Action("CarImages","Image")" class="btn btnLeftMenu" style="width:120px;">
      Image seyran style
 </a>