
<a href="@Url.Action("Index","Car")" class="btn btnLeftMenu" style="width:120px;">
      Cars
 </a>
    
<a href="@Url.Action("Index","ModelType")" class="btn btnLeftMenu" style="width:120px;">
      Models
 </a>

<a href="@Url.Action("Index","MakeType")" class="btn btnLeftMenu" style="width:120px;">
      Makes
 </a>

<a href="@Url.Action("Index","CarBodyType")" class="btn btnLeftMenu" style="width:120px;">
      Body
 </a>

<a href="@Url.Action("Index","TransmissionType")" class="btn btnLeftMenu" style="width:120px;">
      Transmission
 </a>

<a href="@Url.Action("Index","CarEngineType")" class="btn btnLeftMenu" style="width:120px;">
      Engine
 </a> 
<a href="@Url.Action("Index","CarDriveType")" class="btn btnLeftMenu" style="width:120px;">
      Drive
 </a> 
<a href="@Url.Action("Index","CarFuelType")" class="btn btnLeftMenu" style="width:120px;">
      Fuel
 </a> 
<a href="@Url.Action("Index","CarDoorType")" class="btn btnLeftMenu" style="width:120px;">
      Door
 </a> 
<a href="@Url.Action("Index","CarColorType")" class="btn btnLeftMenu" style="width:120px;">
      Color
 </a> 