@model SO.SilList.Manager.Models.ValueObjects.CarVo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}



<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "ModelType", new { id = Model.modelTypeId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.millage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.millage)
            @Html.ValidationMessageFor(model => model.millage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.carBodyTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "CarBodyType", new { id = Model.carBodyTypeId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.siteId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "Site", new { id = Model.siteId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.transmissionTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "TransmissionType", new { id = Model.transmissionTypeId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.startDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.endDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isApproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isApproved)
            @Html.ValidationMessageFor(model => model.isApproved)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
        <p>
            <input type="submit" value="Create" />

            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>
        <hr />

    </fieldset>
}
<p>
    @Html.Action("_ImageListWithUpload", "Image", new { dummy = true , id = Model.carId } )
</p>



