@model SO.SilList.Manager.Models.ValueObjects.CarVo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}





<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend></legend>

        @Html.HiddenFor(model => model.carId)
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.carId)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.carId)" readonly="true">
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.siteId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList","Site",new {id=Model.siteId})
            </div>
        </div>

               <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.makeTypeId)
        </div>
        <div class="controls">
            @Html.Action("DropDownList","MakeType",new {id=Model.makeTypeId})
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.modelTypeId)
        </div>
        <div class="controls" id ="modelList">
            @Html.Action("DropDownList","ModelType",new {id=Model.modelTypeId , _makeTypeId = Model.makeTypeId})
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.millage)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.millage)
            @Html.ValidationMessageFor(model => model.millage)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.carBodyTypeId)
        </div>
        <div class="controls">
            @Html.Action("DropDownList","CarBodyType",new {id=Model.carBodyTypeId})
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(model => model.transmissionTypeId)
        </div>
        <div class="controls">
            @Html.Action("DropDownList","TransmissionType",new {id=Model.transmissionTypeId})
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.startDate)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.endDate)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.isApproved)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.isApproved)
            @Html.ValidationMessageFor(model => model.isApproved)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
         </div>

        <p class="controls">
            <input type="submit" value="Save" />
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>
    </fieldset>
}
