@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.CarVo>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.modelTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.millage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.endDate)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.isApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.modelTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.millage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siteId)
        </td>
        <td>   
            <span>@String.Format("{0:MM/dd/yyy}", item.created)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>  item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id=item.carId })" class="btn">Edit</a>
            <a href="@Url.Action("Details",new { id=item.carId })" class="btn">Details</a>
            <a href="@Url.Action("Delete",new { id=item.carId })" class="btn">Delete</a>
        </td>
    </tr>
}

</table>
