@model SO.SilList.Manager.Models.ValueObjects.RentalVo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@using (Html.BeginForm("Create", "Rental", FormMethod.Post, new { @encType = "multipart/form-data", id = "myForm" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RentalVo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.propertyTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "PropertyType", new { id = Model.propertyTypeId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.siteId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "Site", new { id = Model.siteId })
            <a href="@Url.Action("Index", "Site", new { backUrl = @Url.RouteUrl(ViewContext.RouteData.Values), backName = @ViewContext.RouteData.Values["controller"].ToString() })" class="btn">Sites</a>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bedrooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bedrooms)
            @Html.ValidationMessageFor(model => model.bedrooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bathrooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bathrooms)
            @Html.ValidationMessageFor(model => model.bathrooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.leaseTermTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "LeaseTermType", new { id = Model.leaseTermTypeId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.size)
            @Html.ValidationMessageFor(model => model.size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lotSize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lotSize)
            @Html.ValidationMessageFor(model => model.lotSize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.acceptsSection8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.acceptsSection8)
            @Html.ValidationMessageFor(model => model.acceptsSection8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rentTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "RentType", new { id = Model.rentTypeId })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.memberId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.memberId)
            @Html.ValidationMessageFor(model => model.memberId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.startDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.endDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        
        @* Rental Images *@
        <hr />
        @Html.Partial("../Image/_ImagePickerControls")


    </fieldset>
}

<div>
      <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>

</div>