@model SO.SilList.Manager.Models.ViewModels.RentalVm

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Rental", FormMethod.Post, new { @encType = "multipart/form-data", id = "myForm" }))
{
    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RentalVo</legend>

        @Html.HiddenFor(model => model.rental.rentalId)

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.title)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.rental.title)
            @Html.ValidationMessageFor(model => model.rental.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.description)
            @Html.ValidationMessageFor(model => model.rental.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.propertyTypeId)
        </div>
        <div class="editor-field">
         @Html.Action("DropDownList", "PropertyType",new {id=Model.rental.propertyTypeId, propertyName = "rental.propertyTypeId"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.siteId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList","Site",new {id=Model.rental.siteId})
            <a href="@Url.Action("Index", "Site", new { backUrl = @Url.RouteUrl(ViewContext.RouteData.Values), backName = @ViewContext.RouteData.Values["controller"].ToString() })" class="btn">Sites</a>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.bedrooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.bedrooms)
            @Html.ValidationMessageFor(model => model.rental.bedrooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.bathrooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.bathrooms)
            @Html.ValidationMessageFor(model => model.rental.bathrooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.price)
            @Html.ValidationMessageFor(model => model.rental.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.leaseTermTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "LeaseTermType",new {id=Model.rental.leaseTermTypeId})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.size)
            @Html.ValidationMessageFor(model => model.rental.size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.lotSize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.lotSize)
            @Html.ValidationMessageFor(model => model.rental.lotSize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.acceptsSection8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.acceptsSection8)
            @Html.ValidationMessageFor(model => model.rental.acceptsSection8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.rentTypeId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList", "RentType",new {id=Model.rental.rentTypeId})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.memberId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.memberId)
            @Html.ValidationMessageFor(model => model.rental.memberId)
        </div>

             <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.address)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.rental.address)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.cityTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "CityType", new { id = Model.rental.cityTypeId, propertyName="listing.cityTypeId" })
            </div>
        </div>
         <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.stateTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "StateType", new { id = Model.rental.stateTypeId, propertyName="listing.stateTypeId" })
            </div>
        </div>
                <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.countryTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList", "CountryType", new { id = Model.rental.countryTypeId , propertyName="listing.countryTypeId"})
            </div>
        </div>
                <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.zip)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.rental.zip)
                @Html.ValidationMessageFor(model => model.rental.zip)
            </div>
        </div>
                        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.phone)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.rental.phone)
            </div>
        </div>
                                <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.rental.fax)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.rental.fax)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rental.startDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.startDate)
            @Html.ValidationMessageFor(model => model.rental.startDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.rental.endDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rental.endDate)
            @Html.ValidationMessageFor(model => model.rental.endDate)
            <div class="editor-label">
                @Html.LabelFor(model => model.rental.isActive)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.rental.isActive)
                @Html.ValidationMessageFor(model => model.rental.isActive)
            </div>


            @* Rental image stuff below *@
            @{
                if (Model.imagesToRemove != null)
                {
                    for (int index = 0; index < Model.imagesToRemove.Count; ++index)
                    {
                            <hr />
                            @Html.HiddenFor(x => x.imagesToRemove[index].imageIdStr);
                            <br />
                            <img src="@Model.imagesToRemove[index].imageUrlStr" width="100px"  id="img_@index" />
        
                            @: Uncheck to remove: 
                            @Html.CheckBoxFor(m => m.imagesToRemove[index].imageIsChecked, new { id = "removeImg_" + index.ToString() })
                    }
                            <br />
                }
            }
            <hr />
            @Html.Partial("../Image/_ImagePickerControls")
            <br />
            @* end of Rental images stuff *@

            <p>
                <input type="submit" value="Save" />
            </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</div>
