@model SO.SilList.Manager.Models.ViewModels.ListingVm

<div class="pagination pull-right">
  <ul>
    <li> @Html.ActionLink("Prev", "Index", new { pageNumber = 0}) </li>
    <li> @Html.ActionLink("1", "Index", new { pageNumber = 1 }) </li>
    <li> @Html.ActionLink("2", "Index", new { pageNumber = 2 }) </li>
    <li> @Html.ActionLink("3", "Index", new { pageNumber = 3 }) </li>
    <li> @Html.ActionLink("4", "Index", new { pageNumber = 4 }) </li>
    <li> @Html.ActionLink("5", "Index", new { pageNumber = 5 }) </li>
    <li> @Html.ActionLink("Next", "Index", new { pageNumber = 6 }) </li>
  </ul>
</div>


@* 
    
@Html.ActionLink("Next", "Search", new {
                query, startIndex = startIndex + pageSize, pageSize }) %>

(ViewModels.Model.keyword, 
                          ViewModels.Model.pageNumber) 

Html.ActionLink("Next Page >>", "Index", new { page = (Model.PageIndex + 1) })
*@