@model SO.SilList.Manager.Models.ViewModels.ListingVm

<div class="pagination pull-right">
<ul>

@if(1 != @Model.pageNumber)
{
    <li><a href="#" onclick="document.getElementById('pageNumber').value=1;document.filterForm.submit();return false;">First</a></li>
    <li><a href="#" onclick="document.getElementById('pageNumber').value=@(Model.pageNumber-1);document.filterForm.submit();return false;">Prev</a></li>
}

@for (int p = Math.Max(1, Model.pageNumber - Model.pageLinkCount); p <= Math.Min(Model.totalPages, Model.pageNumber + Model.pageLinkCount); p++)
{
    if(Model.pageNumber == p)
    {
        <li><span>
            Showing page
            <select name="pageNumber" id="pageNumber" onchange="this.form.submit()" style="width: auto">
                @for (int i = 1; i <= Model.totalPages; i++ )
                {
                    <option value="@i" @(i == Model.pageNumber ? "selected" : "")>@i</option>
                }
            </select>
            of @Model.totalPages
            </span>
        </li>
    }
    else
    {
        <li><a href="#" onclick="document.getElementById('pageNumber').value=@p;document.filterForm.submit();return false;">@p</a></li>
    }

}

  </ul>

    @*
  <ul>
    <li> @Html.ActionLink("Prev", "Index", new { pageNumber = 0}) </li>
    <li> @Html.ActionLink("1", "Index", new { pageNumber = 1 }) </li>
    <li> @Html.ActionLink("2", "Index", new { pageNumber = 2 }) </li>
    <li> @Html.ActionLink("3", "Index", new { pageNumber = 3 }) </li>
    <li> @Html.ActionLink("4", "Index", new { pageNumber = 4 }) </li>
    <li> @Html.ActionLink("5", "Index", new { pageNumber = 5 }) </li>
    <li> @Html.ActionLink("Next", "Index", new { pageNumber = 6 }) </li>
  </ul>
    *@
</div>






@* 
    
@Html.ActionLink("Next", "Search", new {
                query, startIndex = startIndex + pageSize, pageSize }) %>

(ViewModels.Model.keyword, 
                          ViewModels.Model.pageNumber) 

Html.ActionLink("Next Page >>", "Index", new { page = (Model.PageIndex + 1) })
*@