@model SO.SilList.Manager.Models.ValueObjects.ListingVo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Create New Listing</h2>
<!--
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
-->

@using (Html.BeginForm("Create", "Listing", FormMethod.Post, new { @encType = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend></legend>
 
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.title)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>
        @*
        <div class="control-group">
            <div class="control-label">
                Listing Category
            </div>
            <div class="controls">          <!-- FIX  -->
                @Html.Action("DropDownList","ListingCategoryType",new {id= Model.listingCategories.All(c=>c.listingCategoryType.listingCategoryTypeId)})
            </div>
        </div>
        *@
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.listingTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList","ListingType",new {id=Model.listingTypeId})
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.description)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.price)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.price)
                @Html.ValidationMessageFor(model => model.price)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.address)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.stateTypeId)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.stateTypeId)
                @Html.ValidationMessageFor(model => model.stateTypeId)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.cityTypeId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList","CityType",new {id=Model.cityTypeId})
                @*
                @Html.EditorFor(model => model.cityTypeId)
                @Html.ValidationMessageFor(model => model.cityTypeId)
                *@
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.zip)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.zip)
                @Html.ValidationMessageFor(model => model.zip)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.phone)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.fax)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.fax)
                @Html.ValidationMessageFor(model => model.fax)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.startDate)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.startDate)
                @Html.ValidationMessageFor(model => model.startDate)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.endDate)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.endDate)
                @Html.ValidationMessageFor(model => model.endDate)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.isActive)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive)
            </div>
        </div>
        <br/>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.siteId)
            </div>
            <div class="controls">
                @Html.Action("DropDownList","Site",new {id=Model.siteId})
                <a href="@Url.Action("Index", "Site", new { backUrl = @Url.RouteUrl(ViewContext.RouteData.Values), backName = @ViewContext.RouteData.Values["controller"].ToString() })" class="btn">Sites</a>
            </div>
        </div>
        <br/> 

        <p>
            <input type="submit" value="Create" />
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>

        
        @* Listing Images *@
        <hr />
        @Html.Partial("../Image/_ImagePickerControls")

    </fieldset>
}

