@model SO.SilList.Manager.Models.ValueObjects.ListingVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BusinessVo</legend>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.siteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.siteId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description) 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>    
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.listingTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.listingTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>
</fieldset>
<br />
<p>
      <a href="@Url.Action("Index", new { id=Model.listingId })" class="btn">Edit</a>

      <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>
