@model SO.SilList.Manager.Models.ValueObjects.ListingVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BusinessVo</legend>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.siteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.siteId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description) 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>    
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.listingTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.listingTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>
       <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.address)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.address)" readonly="true">
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.cityTypeId)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.cityType.name)" readonly="true">
            </div>
        </div>
         <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.stateTypeId)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.stateType.name)" readonly="true">
            </div>
        </div>
                <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.countryTypeId)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.countryType.name)" readonly="true">
            </div>
        </div>
                <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.zip)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.zip)" readonly="true">
            </div>
        </div>
                        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.phone)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.phone)" readonly="true">
            </div>
        </div>
                                <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.fax)
            </div>
            <div class="controls">
                <input type="text" value="@Html.DisplayFor(model => model.fax)" readonly="true">
            </div>
        </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>
</fieldset>
<br />
<p>
      <a href="@Url.Action("Edit", new { id=Model.listingId })" class="btn">Edit</a>

      <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</p>

@* Listing images stuff *@
@{
    foreach (SO.SilList.Manager.Models.ValueObjects.ImageVo img in ViewBag.Images)
    { 
        <hr />
        <img src="@img.url" width="200px" /> 
    }
}