@model SO.SilList.Manager.Models.ViewModels.ListingVm
@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form id="filterForm"  class="form-inline" method="get" action="@Url.Action("Index","Listing")">

@Html.Action("Filter", @Model)
@*<p style="margin-top:10px; margin-bottom:10px;"> </p>*@
<div class="pull-right">
    @Model.paging.showingFrom - @Model.paging.showingTo of @Model.paging.totalCount
</div>

@Html.Partial("List", @Model.result)
@Html.Action("Pagination",  @Model.paging)

</form>

