@model SO.SilList.Manager.Models.ViewModels.ListingVm
@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form id="filterForm"  class="form-inline" method="get" action="@Url.Action("Index","Listing")">

@Html.Action("Filter", @Model)
@*<p style="margin-top:10px; margin-bottom:10px;"> </p>*@
<div class="pull-right">
     @Model.paging.rowCount of @Model.result.Count
     @*Showing @Model.firstVisibleRow - @Model.lastVisibleRow of @Model.totalRowCount *@
</div>

@Html.Partial("List", @Model.result)
@Html.Action("Pagination",  @Model.paging)

</form>

