@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ListingVo>

<p style="margin-top:10px; margin-bottom:10px;">
    <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.siteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.listingTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.siteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listingTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
           <span>@String.Format("{0:MM/dd/yyy}", item.created)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
      
        <td>

            <a href="@Url.Action("Edit",new { id=item.listingId })" class="btn">Edit</a>
            <a href="@Url.Action("Details",new { id=item.listingId })" class="btn">Details</a>
            <a href="@Url.Action("Delete",new { id=item.listingId })" class="btn">Delete</a>

          
        </td>
    </tr>
}

</table>
