@model SO.SilList.Manager.Models.ValueObjects.ServiceTypeVo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ServiceTypeVo</legend>

        @Html.HiddenFor(model => model.serviceTypeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.siteId)
        </div>
        <div class="editor-field">
            @Html.Action("DropDownList","Site",new {id=Model.siteId})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.created)
            @Html.ValidationMessageFor(model => model.created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modified)
            @Html.ValidationMessageFor(model => model.modified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
      <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
</div>
