@model SO.SilList.Manager.Models.ValueObjects.JobCompanyVo

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset class="form-horizontal">
    <legend></legend>

       <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.jobCompanyId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.jobCompanyId)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.address)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.cityTypeId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.cityType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.stateTypeId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.stateType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.countryTypeId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.countryType.name)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.zip)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.zip)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.website)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.website)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.phone)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.fax)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.fax)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.siteId)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.site.domain)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.created)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.created)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.modified)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.modified)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.createdBy)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.createdBy)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.modifiedBy)
        </div>
        <div class="controls">
            <input type="text" value="@Html.DisplayFor(model => model.modifiedBy)" readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"> @Html.DisplayNameFor(model => model.isActive)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.isActive)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.jobCompanyId }) |
    @Html.ActionLink("Back to List", "Index")

</p>
