 <a href="@Url.Action("Index", "Admin")" class="btn btnLeftMenu" style="width:120px;">
      Administrators
 </a>
 <a href="@Url.Action("Index", "Visit")" class="btn btnLeftMenu" style="width:120px;">
      Site Statistics
 </a>

 <a href="@Url.Action("Index", "CountryType")" class="btn btnLeftMenu" style="width:120px;">
      Countries
 </a>

 <a href="@Url.Action("Index", "StateType")" class="btn btnLeftMenu" style="width:120px;">
      States
 </a>

 <a href="@Url.Action("Index", "CityType")" class="btn btnLeftMenu" style="width:120px;">
      Cities
 </a>