@model SO.SilList.Manager.Models.ValueObjects.AdminVo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Administrator</legend>

    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.firstName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.firstName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.lastName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.lastName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.email)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.email)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.username)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.username)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.password)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.password)
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.phone)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.phone)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.isEmailConfirmed)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.isEmailConfirmed)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.isSuperAdmin)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.isSuperAdmin)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.ipAddress)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ipAddress)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.lastLogin)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.lastLogin)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.created)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.created)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.modified)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.modified)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.createdBy)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.createdBy)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.modifiedBy)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.modifiedBy)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.isActive)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(p => p.isActive)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Edit", "Edit", new { id=Model.adminId }) | @Html.ActionLink("Back to List", "Index")
            </td>
        </tr>
    </table>
</fieldset>