@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.AdminVo>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.isSuperAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSuperAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id=item.adminId })" class="btn" title="Edit"><i class="icon-edit"></i></a>
            <a href="@Url.Action("Details",new { id=item.adminId })" class="btn" title="Detail"><i class="icon-list"></i></a>
            <a href="@Url.Action("Delete",new { id=item.adminId })" class="btn" title="Delete"><i class="icon-trash"></i></a>
        </td>
    </tr>
}

</table>
