@model SO.SilList.Manager.Models.ViewModels.EnvironmentTypeVm
 
<style>

    #isActive {

        width:90px;
    }

</style>

     @Html.ValidationSummary(true)
     @Html.ValidationMessageFor(model => model.keyword)

     @Html.TextBoxFor(model => model.keyword,new { Class = "input-large", placeholder =  "Search" })

     <label class="checkbox" style="margin-left:10px;">
       @Html.LabelFor(model => model.isActive) 
         @Html.EditorFor(model => model.isActive)
     </label>

  
    <button name="submitButton" value="Search" type="submit" class="btn">Search</button>