<!DOCTYPE html>
<html lang="en">
  <head>
      
    <meta charset="utf-8">
    <title>SilList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PropertyHoop">
    <meta name="author" content="PropertyHoop">

    <!-- Le styles -->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 52px;
        padding-bottom: 40px;
      }
    </style>
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->

    <link href="~/Content/Site.css" rel="stylesheet" />

       @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
   
      <script type="text/javascript">



          $(document).ready(function () {

              var height = $("#mainContent").height();
              $('#leftColumn').height(height);
              // alert(height);
          });


</script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top" >
      <div class="navbar-inner"  >
        <div class="container" >
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="brand" href="~/" >
             SilList

          </a>

           <div class="nav-collapse collapse">

     <ul class="nav nav-pills pull-left nav-list-menu">

             <li class="dropdown">
                        <a href="@Url.Action("Index","Rental")" class="dropdown-toggle" >Rentals<b class="caret white-caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Search</a></li>
                          <li class="nav-header">Saved Searches:</li>
                          <li><a href="#">Search one</a></li>
                          <li><a href="#">Search two</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Submit a Property</a></li>
                        </ul>
             </li>

            <li class="dropdown">
                        <a href="@Url.Action("Index","Jobs")"  class="dropdown-toggle" >Jobs<b class="caret white-caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Search</a></li>
                          <li class="nav-header">Saved Searches:</li>
                          <li><a href="#">Search one</a></li>
                          <li><a href="#">Search two</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Submit a Job</a></li>
                        </ul>
             </li>

          <li class="dropdown">
                        <a href="@Url.Action("Index","Business")"  class="dropdown-toggle" >Business Directory<b class="caret white-caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Search</a></li>
                          <li class="nav-header">Saved Searches:</li>
                          <li><a href="#">Search one</a></li>
                          <li><a href="#">Search two</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Submit a Business</a></li>
                        </ul>
             </li>

          <li class="dropdown">
                        <a href="@Url.Action("Index","Listings")" class="dropdown-toggle">Listings<b class="caret white-caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Search</a></li>
                          <li class="nav-header">Saved Searches:</li>
                          <li><a href="#">Search one</a></li>
                          <li><a href="#">Search two</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Submit a Listing</a></li>
                        </ul>
             </li>

               <li class="dropdown">
                        <a href="@Url.Action("Index","Car")" class="dropdown-toggle">Cars<b class="caret white-caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Search</a></li>
                          <li class="nav-header">Saved Searches:</li>
                          <li><a href="#">Search one</a></li>
                          <li><a href="#">Search two</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Submit a Listing</a></li>
                        </ul>
             </li>
    </ul>

            
           @Html.Partial("_LoginPartial")

          </div><!--/.nav-collapse -->


        </div>
      </div>
    </div>

    <div class="container" style="background-color:white;">

        
      <!-- Example row of columns -->
      <div class="row">


        <div class="span12">
         

             @RenderBody()

       </div>
       
      </div>

     
     

    </div> <!-- /container -->

       
       <div class="container" >

    <footer class="footer">
          <hr>

        <a href="/">Home</a> | 

        <a href="/">About Us</a> | 

        <a href="/">Contact Us</a> 



        <p style="text-align:center;">&copy; SilList 2013</p>
    </footer>

      </div>

    <!-- Le javascript
    ================================================== -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Placeholders.min.js")
   
    @Scripts.Render("~/Scripts/Site.js")
   
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")

      @Scripts.Render("~/Scripts/holder.js")
  

  </body>
</html>
