@model SO.SilList.Utility.Classes.Paging

<div class="pagination pull-right">
        
    
    
  <ul>

      @if(Model.totalCount > (int)Model.rowCount)
      {
              
              var disablePrev = "enabled";
              var disableNext = "enabled";
              if (Model.pageNumber <= 1)
              {
                  disablePrev = "disabled";
              }
              if (Model.pageNumber >= Model.totalPages)
              {
                  disableNext = "disabled";
              }
          
          <li class="@disablePrev"><a href="#" onclick="$('#paging_pageNumber').val(@Model.prev10Page) ; $('#filterForm').submit();return false;">&lt&lt</a></li>
          <li class="@disablePrev"><a href="#" onclick="$('#paging_pageNumber').val(@Model.pageNumber-1) ; $('#filterForm').submit();return false;">&lt</a></li>
         
          for (int i = Model.startingLinkPage; i <= Model.endingLinkPage; i++)
          {    
              if(i ==Model.pageNumber){
                  <li class="disabled"><a href="#">@i</a></li>
              }else{ 
               <li><a href="#" onclick="$('#paging_pageNumber').val(@i) ; $('#filterForm').submit();return false;">@i</a></li>
             }
          }
      
          <li class="@disableNext"><a href="#" onclick="$('#paging_pageNumber').val(@Model.pageNumber+1) ; $('#filterForm').submit();return false;">&gt</a></li>
          <li class="@disableNext"><a href="#" onclick="$('#paging_pageNumber').val(@Model.next10Page) ; $('#filterForm').submit();return false;">&gt&gt</a></li>
       }
  </ul>
</div>