@model SO.SilList.Manager.Models.ValueObjects.MemberVo
@using SO.SilList.Manager.Managers

@{
    ViewBag.Title = "Member Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>
<style>
    .fillIn {
        width: 95%;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="span3">
                User Name
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.username)" readonly="true">
            </div>
            <div class="span3">
                Full Name
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.fullname)" readonly="true">
            </div>
            <div class="span2">
                Member ID
                <input type="text" class="form-control" style="width:97%" value="@Html.DisplayFor(model => model.memberId)" readonly="true">
            </div>
            <div class="span1">
                Active
                <div>
                    @Html.DisplayFor(model => model.isActive)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                Roles
                @{
    string roles = "";

    foreach (var role in Model.memberRoleLookupses)
    {
        roles += role.memberRoleType.name;
        roles += ", ";
    }

    if (roles.Length > 2)
    {
        roles = roles.Substring(0, roles.Length - 2);
    }
                }
                <input type="text" class="form-control" style="width:98%" value="@roles" readonly="true">

            </div>
        </div>

        <div class="row">
            <div class="span3">
                E-Mail
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.email)" readonly="true">
            </div>
            <div class="span6">
                Address
                <input type="text" class="form-control" style="width:97%" value="@Model.fullAddress" readonly="true">
            </div>
        </div>
        <div class="row">
            <div class="span2">
                Fax
                <input type="text" class="form-control fillIn" value="@Html.DisplayFor(model => model.fax)" readonly="true">
            </div>
            <div class="span2">
                Cell Phone
                <input type="text" class="form-control fillIn" value="@Html.DisplayFor(model => model.phone)" readonly="true">
            </div>
            <div class="span2">
                Home Phone
                <input type="text" class="form-control fillIn" value="@Html.DisplayFor(model => model.phone)" readonly="true">
            </div>
            <div class="span3">
                Work Phone
                <input type="text" class="form-control fillIn" value="@Html.DisplayFor(model => model.phone)" readonly="true">
            </div>
        </div>
        <div class="row">
            <div class="span3">
                Created Date
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.created)" readonly="true">
            </div>
            <div class="span3">
                Modified Date
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.modified)" readonly="true">
            </div>
            <div class="span3">
                Modified By
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.modifiedBy)" readonly="true">
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="span9">
        <a href="@Url.Action("Index")" class="btn">Back to List</a>
        @if (Model.memberId == CurrentMember.member.memberId)
        {
            <a href="@Url.Action("EditProfile")" class="btn pull-right btn-info">Edit</a>
        }
        else
        {
            <a href="@Url.Action("Edit", new { id = Model.memberId })" class="btn pull-right btn-info">Edit</a>
        }
    </div>
</div>
