@model SO.SilList.Manager.Models.ValueObjects.MemberVo

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>Manage</h2>

@using (Html.BeginForm()) {
    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MemberVo</legend>

        @Html.HiddenFor(model => model.memberId)

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cityTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cityTypeId)
            @Html.ValidationMessageFor(model => model.cityTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.stateTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stateTypeId)
            @Html.ValidationMessageFor(model => model.stateTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zip)
            @Html.ValidationMessageFor(model => model.zip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.isEmailSubscribed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isEmailSubscribed)
            @Html.ValidationMessageFor(model => model.isEmailSubscribed)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "Index", "Home")
</div>
