@model SO.SilList.Manager.Models.ValueObjects.MemberVo

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>Manage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.memberId)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.username)
        @Html.HiddenFor(model => model.isEmailSubscribed)
        @Html.HiddenFor(model=>model.isEmailConfirmed)
        <div class="row" style="margin: 10px">
            <div class="span2 info2">User ID : </div>
            <div class="span4 info" style="width: 30%">@Model.memberId</div>
        </div>
        <div class="row" style="margin: 10px">
            <div class="span2 info2">Email : </div>
            <div class="span4 info" style="width: 30%">@Model.email</div>
        </div>
        <div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">First Name : </div>
                <div class="span4" style="width: 30%">@Html.EditorFor(model => model.firstName)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">last Name : </div>
                <div class="span4" style="width: 30%">@Html.EditorFor(model => model.lastName)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">Address : </div>
                <div class="span4" style="width: 30%">@Html.EditorFor(model => model.address)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">City , State: </div>
                <div class="span4" style="width: 30%">@Html.EditorFor(model => model.cityTypeId)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">Country: </div>
                <div class="span4" style="width: 30%">@Html.EditorFor(model => model.countryTypeId)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">Zip: </div>
                <div class="span4" style="width: 30%">@Html.EditorFor(model => model.zip)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">Phone :</div>
                <div class="span2" style="width: 30%">@Html.EditorFor(model => model.phone)</div>
            </div>
            <div class="row" style="margin: 10px">
                <div class="span2 info2">Fax :</div>
                <div class="span2" style="width: 30%">@Html.EditorFor(model => model.fax)</div>
            </div>
                        <div class="row" style="margin: 10px">
                <div class="span2 info2">Email Subscribtion :</div>
                <div class="span2" style="width: 30%">@Html.EditorFor(model => model.isEmailSubscribed)</div>
            </div>
        </div>




        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>



        <p>
            <input type="submit" value="Save" />
            <a href='@Html.Action("Profile","Member",new{id = Model.memberId })' class="btn" >Cancel</a>
        </p>
    </fieldset>
}

