@model SO.SilList.Manager.Models.ValueObjects.CarFuelTypeVo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "CarFuelType", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend></legend>


        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
            @Html.LabelFor(model => model.isActive)
        </div>
            <div class="controls">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
        </div>
        <p class="controls">
            <input type="submit" value="Create" />
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
        </p>
    </fieldset>
}

